@tailwind base;
@tailwind components;
@tailwind utilities;

/* aside,
main,
.resizer {
  height: 88%; 
} */

/* .container {
  height: 88%;
  width: 100%;
} */

footer {
  top: 88%;
}

.resizer {
  cursor: col-resize;
}

.resizer:hover {
  width: "400px";
  overflow: hidden;
  user-select: none;
}

/* .footer {
  left: 0;
  /* top: %; 

} */

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(23 23 23);
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
